// == Breakpoints ========
// 1098

// == Colours ============
$theme-color-1: #FFC571
$theme-color-2: #A26EDA
$theme-color-3: #24B5C7
$theme-color-4: #F79E59

$font-color: #1f2940

// == Fonts ==============
$main-font-family: 'Quicksand', 'Arial', sans-serif

// == Misc ===============
$default-transition: all 0.2s ease

// == Mixins =============
=align-content($alignment)
  -webkit-align-content: $alignment
  align-content: $alignment

=align-self($alignment)
  -webkit-align-self: $alignment
  align-self: $alignment

=box-sizing($val)
  -webkit-box-sizing: $val
  -moz-box-sizing: $val
  box-sizing: $val

=calc($property, $expression)
  #{$property}: -o-calc(#{$expression})
  #{$property}: -moz-calc(#{$expression})
  #{$property}: -webkit-calc(#{$expression})
  #{$property}: calc(#{$expression})

=flex-direction($direction)
  -webkit-flex-direction: $direction
  -moz-flex-direction: $direction
  flex-direction: $direction

=flex-grow($val)
  -ms-flex-positive: $val
  -webkit-flex-grow: $val
  flex-grow: $val

=justify-content($val)
  -webkit-justify-content: $val
  justify-content: $val

=transform($transformation)
  -ms-transform: $transformation
  -webkit-transform: $transformation
  transform: $transformation

=transition($transition)
  -webkit-transition: $transition
  transition: $transition