// == Breakpoints ========
// 1098

// == Colours ============
$theme-color-1: #FFC571
$theme-color-2: #A26EDA
$theme-color-3: #24B5C7
$theme-color-4: #F79E59
$brand-color:   #00C7C7

$font-color: #1f2940

// == Fonts ==============
$main-font-family: 'Nunito Sans', 'Arial', sans-serif
// $main-font-family: 'Quicksand', 'Arial', sans-serif

// == Misc ===============
$default-transition: all 0.2s ease

// == Mixins =============
=align-content($alignment)
  -webkit-align-content: $alignment
  align-content: $alignment

=align-self($alignment)
  -webkit-align-self: $alignment
  align-self: $alignment

=box-sizing($expression: border-box)
  -webkit-box-sizing: $expression
  -moz-box-sizing: $expression
  box-sizing: $expression

=calc($property, $expression)
  #{$property}: -o-calc(#{$expression})
  #{$property}: -moz-calc(#{$expression})
  #{$property}: -webkit-calc(#{$expression})
  #{$property}: calc(#{$expression})

=display-flex
  -ms-display: flex
  -webkit-display: flex
  display: -webkit-box
  display: -moz-box
  display: -ms-flexbox
  display: -webkit-flex
  display: flex

=flex-direction($direction)
  -webkit-flex-direction: $direction
  -moz-flex-direction: $direction
  flex-direction: $direction

=flex-grow($expression)
  -ms-flex-positive: $expression
  -webkit-flex-grow: $expression
  flex-grow: $expression

=justify-content($expression)
  -webkit-justify-content: $expression
  justify-content: $expression

=transform($transformation)
  -ms-transform: $transformation
  -webkit-transform: $transformation
  transform: $transformation

=transition($transition)
  -webkit-transition: $transition
  transition: $transition