---
---
@import 'reset'
@import 'mixins'
@import 'typography'
@import 'index'

// == Base Styles ==========
html
  scroll-behavior: smooth
  min-width: 280px

.flex
  -ms-display: flex
  -webkit-display: flex
  display: -webkit-box
  display: -moz-box
  display: -ms-flexbox
  display: -webkit-flex
  display: flex

.theme-0
  background-color: $theme-color-0
.theme-1
  background-color: $theme-color-1
.theme-2
  background-color: $theme-color-2
.theme-3
  background-color: $theme-color-3
.theme-4
  background-color: $theme-color-4

.invisible
  opacity: 0

// == Navigation ============
nav
  ul
    @extend .flex
    justify-content: space-between
  li
    display: inline-block
    // margin-right: 30px
    &:last-child
      margin: 0
  a.active
    font-weight: bold

// == Buttons ===============
button
  // +transition(all 0.3s ease)
  &:focus
    outline: none
.btn-anchor
  @extend .anchor-base
  background-color: transparent
  border: none
  padding: 0
  font-size: 0.8em
  &.btn-white
    font-weight: 400
    color: #fff

// == Animations ============
.animatable
  opacity: 0
.animate-slide-left
  transform: translateX(100px)
  animation: slide-left 0.6s ease forwards

.animate-slide-right
  transform: translateX(-100px)
  animation: slide-left 0.8s ease forwards

.animate-slide-right-delay-1
  transform: translateX(-100px)
  animation: slide-left 1s ease forwards

.animate-slide-right-delay-2
  transform: translateX(-100px)
  animation: slide-left 1.2s ease forwards

@keyframes slide-left
  to
    transform: translateX(0)
    opacity: 1

@keyframes slide-right
  to
    transform: translateX(0)
    opacity: 1


