<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    
    <title>{{ page.title }}</title>
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,500,700,900&display=swap" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Stylesheet -->
    <link
      rel="stylesheet" 
      type="text/css"
      href="{{ '/assets/stylesheets/main.css' | prepend: site.baseurl }}">
    <!-- Jquery -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
      crossorigin="anonymous"></script>
    <!-- Animate elements into viewport -->
    <script
      type="text/javascript"
      src="{{ '/assets/scripts/animator.js' | prepend: site.baseurl }}"></script>
  </head>

  <body>
    {{ content }}

  </body>

</html>